@import url(../src/fonts/fonts.css);

body {
  margin: 0;
  background-color: #0e1014;
  font-family: "Inter", "Montserrat";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Inter", source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
